.App {
    text-align: center;
}

body {
    background-color: #3a4756;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.welcome-title {
    color: #6d748e;
    border-bottom: 1px solid #6d748e;
}

.container-messenger {
    display: flex;
    justify-content: center;
}

.main-container {
    background-color: #f5f9fd;
    border: 1px solid transparent;
    padding: 20px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
}

.Messages-container {
    height: 360px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px #d5e5f8;
    border-radius: 5%;
    width: 380px;
    padding: 10px;
}

.messagebox-rec {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #ffff;
    box-shadow: 1px 1px 10px #eef2f6;
}

.Messages-all {
    overflow-y: scroll;
    padding: 10px;
    /* border: 1px solid black; */
    height: 310px;
}

.message-input {
    border-color: transparent;
    width: 80%;
    box-shadow: 1px 1px 8px #6798cc;
    border-radius: 10px;
    height: 25px;
    outline: none;
}

.SendMessage {
    margin-left: 8px;
    padding: 8px;
    background-color: #578ec9;
    box-shadow: 1px 1px 10px #6798cc;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    outline: none;
}

.SendMessage:hover {
    background-color: #6c98c7;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.messagebox-send {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #578ec9;
    color: white;
    box-shadow: 1px 1px 10px #578ec9;
    text-align: right;
}